# This workflow will install Python dependencies, run autopep8
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: autopep8

on:
  push:
    branches: [ "main", "autopep8" ]
  pull_request:
    branches: [ "main", "autopep8" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Static analysis with autopep8
      run: |
        pip install --upgrade autopep8
        autopep8 -v --aggressive --in-place --exit-code backend/app.py && autopep8 -v --aggressive --in-place --exit-code backend/applications.py && autopep8 -v --aggressive --in-place --exit-code backend/auth.py && autopep8 -v --aggressive --in-place --exit-code backend/files.py && autopep8 -v --aggressive --in-place --exit-code backend/ollama_connect.py && autopep8 -v --aggressive --in-place --exit-code backend/questions.py && autopep8 -v --aggressive --in-place --exit-code backend/resume_extract.py